<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="AngleSharp" version="0.17.1" targetFramework="net48" />
	<package id="Aspose.Cells" version="22.11.0" targetFramework="net48" />
	<package id="BouncyCastle" version="1.8.9" targetFramework="net48" />
	<package id="GemBox.Spreadsheet" version="49.0.1153" targetFramework="net48" />
	<package id="iTextSharp" version="5.5.13.3" targetFramework="net48" />
	<package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net48" />
	<package id="Microsoft.CSharp" version="4.5.0" targetFramework="net48" />
	<package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.7" targetFramework="net48" />
	<package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
	<package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
	<package id="NPOI" version="2.5.6" targetFramework="net48" />
	<package id="Portable.BouncyCastle" version="1.8.9" targetFramework="net48" />
	<package id="Selenium.Support" version="4.6.0" targetFramework="net48" />
	<package id="Selenium.WebDriver" version="4.6.0" targetFramework="net48" />
	<package id="Selenium.WebDriver.ChromeDriver" version="107.0.5304.6200" targetFramework="net48" />
	<package id="SharpZipLib" version="1.4.1" targetFramework="net48" />
	<package id="System.Buffers" version="4.5.1" targetFramework="net48" />
	<package id="System.Drawing.Common" version="5.0.2" targetFramework="net48" />
	<package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net48" />
	<package id="System.IO.Packaging" version="4.5.0" targetFramework="net48" />
	<package id="System.Memory" version="4.5.4" targetFramework="net48" />
	<package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
	<package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
	<package id="System.Security.AccessControl" version="5.0.0" targetFramework="net48" />
	<package id="System.Security.Cryptography.Xml" version="4.7.1" targetFramework="net48" />
	<package id="System.Security.Permissions" version="4.7.0" targetFramework="net48" />
	<package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
	<package id="System.Text.Encoding.CodePages" version="6.0.0" targetFramework="net48" />
	<package id="System.Text.Encodings.Web" version="5.0.1" targetFramework="net48" />
	<package id="System.Text.Json" version="5.0.2" targetFramework="net48" />
	<package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
	<package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
	<package id="WebDriverManager" version="2.16.2" targetFramework="net48" />
</packages>